.menu-bar {
  display: flex;
  margin: auto;
  margin-right: 36px;
  font-family: SFUIText-Bold;
  justify-content: center;
  align-items: center;
}

.menu-bar-item {
  display: inline-block;
  margin-left: 46px;
}
.menu-bar-item-link {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu-bar-item-link-active {
  border-bottom: solid 2px;
  padding-bottom: 1px;
}


.filter-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 36px;
  margin-left: 56px;
  padding: 0;
  width: 26px;
}