.login-modal {
  width: 503px;
  height: 379px;
  margin-top: 207px;
  border-radius: 44px;
  background-color: #e990f9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-button {
  margin: 56px 0;
  border-radius: 36px;
  border: solid 3px white;
  padding: 20px 34px;
  color: white;
  font-size: 18px;
  font-family: SFUIText-Bold;
  background: 0;
  outline: none;
}

.bear-face {
  width: 160px;
  height: 150px;
  margin-top: 77px;
}

.bear-face-mobile {
  display: none;
}

@media (max-width: 800px) {
  .bear-face {
    display: none;
  }

  .bear-face-mobile {
    display: block;
  }

  .login-modal {
    background-color: white;
    margin-top: 141px;
  }

  .login-button {
    color: #e990f9;
    border-color: #e990f9;
    margin: 103px 0px;
  }
}