.filter {
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 116px
}

.filter .filter-item:first-child {
  margin-right: 45px;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-input {
  width: 125px;
  height: 31px;
  border-radius: 11px;
  border: 1px solid #979797;
  outline: none;
  padding: 0 12px;
}

.filter-label {
  margin-right: 15px;
  font-family: SFUIText-Regular;
  font-size: 13px;
  color: #979797;
}

@media (max-width: 800px) { 
  .filter .filter-item:first-child {
    margin-right: 0;
  }

  .filter-item {
    flex-direction: column;
  }

  .filter-input {
    padding: 0 6px;
  }

  .filter {
    top: 87px;
    padding: 0 6px;
    justify-content: space-around;
  }
}