.header {
  width: 100%;
  background-color: #7ed321;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo {
  width: 147px;
  height: 56px;
  margin: 30px 0px 30px 37px;
}

@media (max-width: 800px) {
  .logo {
    width: 98px;
    height: 37px;
    margin: 25px 0px 25px 20px;
  }
}