.add-jog-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.jogs-list {
  list-style-type: none;
  margin-top: 53px;
}
